@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

* {
   box-sizing: border-box;
   font-family: 'Salsa', cursive;
}
::-webkit-scrollbar {
   width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
   background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
   background: rgb(166, 58, 185);
   border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: rgb(222, 62, 250);
}

body {
   display: flex;
   position: fixed;
   width: 100%;
   background-color: #edeff2;
}

@media (min-width: 501px) {
   .chat_window {
      flex-basis: 100vw;
      height: 100vh;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      left: 0;
      top: 0;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
      background-color: #f8f8f8;
      overflow: hidden;
   }
}

.top_menu {
   display: flex;
   background-color: #e0e5ec;
   width: 100%;
   padding: 20px 0 15px;
   box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
   transition: 200ms ease-in-out;
}
.top_menu .buttons {
   display: flex;
   position: relative;
   align-self: flex-start;
   margin-left: 1rem;
}
.top_menu .buttons .button {
   width: auto;
   height: auto;
   border-radius: 50%;
   display: inline-block;
   margin-right: 1rem;
   position: relative;
   font-size: 1.5rem;
}
.top_menu .buttons .button.close {
   background-color: #f5886e;
}
.top_menu .buttons .button.maximize {
   background-color: #a3d063;
}
.top_menu .title {
   align-self: center;
   white-space: nowrap;
   margin: auto;
   text-align: center;
   color: #bcbdc0;
   font-size: 20px;
   font-weight: bold;
}

.messages {
   position: relative;
   list-style: none;
   padding: 20px 10px 0 10px;
   margin: 0;
   height: calc(100vh - 153.38px);
   overflow: auto;
   transition: 200ms ease-in-out;
}
.messages .message {
   clear: both;
   overflow: hidden;
   margin-bottom: 20px;
   transition: all 0.5s linear;
   opacity: 0;
}
.messages .message.left .avatar {
   background-color: #f5886e;
   float: left;
}
.messages .message.left .text_wrapper {
   background-color: #ffe6cb;
   margin-left: 20px;
}
.messages .dark_mode_message.left .text_wrapper {
   background-color: #3468af !important;
}

.messages .message.left .text_wrapper::after,
.messages .message.left .text_wrapper::before {
   right: 100%;
   border-right-color: #ffe6cb;
}
.messages .dark_mode_message.left .text_wrapper::after,
.messages .dark_mode_message.left .text_wrapper::before {
   border-right-color: #3468af !important;
}
.messages .message.left .text {
   color: #c48843;
}
.messages .dark_mode_message.left .text {
   color: #ffffff;
}
.messages .message.right .avatar {
   background-color: #fdbf68;
   float: right;
}
.messages .message.right .text_wrapper {
   background-color: #c7eafc;
   margin-right: 20px;
   float: right;
}
.messages .dark_mode_message.right .text_wrapper {
   background-color: #e64c65 !important;
}
.messages .message.right .text_wrapper::after,
.messages .message.right .text_wrapper::before {
   left: 100%;
   border-left-color: #c7eafc;
}
.messages .dark_mode_message.right .text_wrapper::after,
.messages .dark_mode_message.right .text_wrapper::before {
   border-left-color: #e64c65 !important;
}
.messages .message.right .text {
   color: #45829b;
}
.messages .dark_mode_message.right .text {
   color: #ffffff !important;
}
.messages .message.appeared {
   opacity: 1;
}
.messages .message .avatar {
   width: 60px;
   height: 60px;
   border-radius: 50%;
   display: inline-block;
}
.messages .message .text_wrapper {
   display: inline-block;
   padding: 0.7rem 0.9rem;
   border-radius: 6px;
   width: calc(100% - 85px);
   min-width: 100px;
   position: relative;
   max-width: 40vw;
}
.messages .message .text_wrapper::after,
.messages .message .text_wrapper:before {
   top: 18px;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
}
.messages .message .text_wrapper::after {
   border-width: 13px;
   margin-top: 0px;
}
.messages .message .text_wrapper::before {
   border-width: 15px;
   margin-top: -2px;
}
.messages .message .text_wrapper .text {
   font-size: 1.1rem;
   font-weight: 300;
   word-break: break-word;
}

.bottom_wrapper {
   display: flex;
   width: 100%;
   background-color: #e0e5ec;
   padding: 1.2rem;
   bottom: 0;
   justify-content: space-between !important;
   transition: 200ms ease-in-out;
   box-shadow: 0 -1px 30px rgba(0, 0, 0, 0.1);
}
.bottom_wrapper .message_input_wrapper,
.bottom_wrapper .dark_mode_message_input_wrapper {
   height: 50px;
   border-radius: 25px;
   /* border: 2px solid #bcbdc0; */
   flex-basis: 80%;
   position: relative;
   padding: 0 20px;
   margin-right: 1rem;
}
.bottom_wrapper .message_input_wrapper .message_input,
.bottom_wrapper .dark_mode_message_input_wrapper .message_input {
   border: none;
   height: 100%;
   box-sizing: border-box;
   width: calc(100% - 40px);
   position: absolute;
   outline-width: 0;
   color: gray;
}
.bottom_wrapper .send_message {
   display: flex;
   height: 50px;
   flex-basis: 15%;
   min-width: 90px;
   justify-content: center;
   cursor: pointer;
   text-align: center;
   margin-left: auto;
   border-radius: 25px;
   background: #e0e5ec;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
   box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
      7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
   transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
   font-size: 26px;
   color: #666;
   text-decoration: none;
   z-index: 1;
}
.bottom_wrapper .send_message:hover {
   /* background: radial-gradient(circle,  #0ff 0%, #e0e5ec 60%);
   animation: colorchange 3s linear infinite; */
   color: rgba(102, 102, 102, 0.5);
}
.bottom_wrapper .send_message:active {
   box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
      -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
      inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}
.bottom_wrapper .dark_mode_send_message {
   display: flex;
   height: 50px;
   flex-basis: 15%;
   min-width: 90px;
   justify-content: center;
   cursor: pointer;
   text-align: center;
   margin-left: auto;
   border-radius: 25px;
   background: #e0e5ec;
   -webkit-tap-highlight-color: transparent;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   background: #1f253d;
   color: rgb(190, 190, 190);
   box-shadow: -7px -7px 20px 0px #363f68, -4px -4px 5px 0px #363f68,
      7px 7px 20px 0px #0b0d14, 4px 4px 5px 0px #0b0d14;
   transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}
.bottom_wrapper .dark_mode_send_message:active {
   box-shadow: 4px 4px 6px 0 rgba(66, 78, 129, 0.5),
      -4px -4px 6px 0 rgba(0, 0, 0, 0.2),
      inset -4px -4px 6px 0 rgba(66, 78, 129, 0.5),
      inset 4px 4px 6px 0 rgba(0, 0, 0, 0.3);
}
.bottom_wrapper .dark_mode_send_message:hover {
   /* background: radial-gradient(circle,  #0ff 0%, #e0e5ec 60%);
   animation: colorchange 3s linear infinite; */
   color: rgba(255, 255, 255, 0.883);
}
@keyframes colorchange {
   to {
      filter: hue-rotate(360deg);
   }
}
.bottom_wrapper .send_message .text,
.bottom_wrapper .dark_mode_send_message .text {
   display: flex;
   align-items: center;
   font-size: 18px;
   font-weight: 300;
   line-height: 48px;
   margin: auto;
   align-self: center;
}
#send_btn_txt {
   margin-left: 0.5rem;
}
.message_template {
   display: none;
}
.text_wrapper_header {
   display: flex;
   justify-content: space-between;
}
.left .text_wrapper_header {
   flex-direction: row-reverse;
}
.message .text_wrapper .text_wrapper_header .username {
   color: #0a0ae7;
   font-size: 0.85rem;
}
.message .text_wrapper .text_wrapper_header .user_role {
   color: #858585;
   font-size: 0.6rem;
}
.message .text_wrapper .timestape {
   color: #858585;
   font-size: 0.51rem;
   margin-top: 0.5rem;
   display: flex;
}
.left .text_wrapper .timestape {
   flex-direction: row-reverse;
}
.dark_mode_message .text_wrapper .text_wrapper_header .username {
   color: #ffffff !important;
}
.dark_mode_message .text_wrapper .text_wrapper_header .user_role {
   color: #eeeeee !important;
}
.dark_mode_message .text_wrapper .timestape {
   color: #eeeeee !important;
}
.text_wrapper .text {
   margin: 0.4rem 0.3rem;
}
.message_input_wrapper {
   background-color: #eef2f6;
   box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
      7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}
.dark_mode_message_input_wrapper {
   border-color: #417aff !important;
   background-color: #5a447e !important;
   transition: 200ms ease-in-out;
   box-shadow: -7px -7px 20px 0px #363f68, -4px -4px 5px 0px #363f68,
      7px 7px 20px 0px #0b0d14, 4px 4px 5px 0px #0b0d14;
}
.message_input_wrapper:hover {
   box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
      -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
      inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}
.message_input {
   background-color: transparent !important;
   direction: ltr;
}
.dark_mode_message_input_wrapper:hover {
   box-shadow: 4px 4px 6px 0 rgba(144, 106, 204, 0.3),
      -4px -4px 6px 0 rgba(0, 0, 0, 0.2),
      inset -4px -4px 6px 0 rgba(144, 106, 204, 0.3),
      inset 4px 4px 6px 0 rgba(0, 0, 0, 0.3);
}
.dark_mode_message_input::placeholder {
   color: #f2e6ff !important;
   transition: 200ms ease-in-out;
   direction: ltr !important;
   
}
.message_input::placeholder {
   direction: ltr !important;
}

.dark_mode_btn {
   color: #65598a;
}
.dark_mode {
   /* background-color: #373747 !important; */
   background-color: #1f253d;
   transition: 200ms ease-in-out;
}
.dark_mode_messages {
   /* background-color: #494064 !important; */
   background-color: #394264 !important;
   transition: 200ms ease-in-out;
}
@media (max-width: 500px) {
   .bottom_wrapper .send_message,
   .bottom_wrapper .dark_mode_send_message {
      flex-basis: 10%;
      min-width: 50px;
      border-radius: 50%;
   }
}

.system_message_template {
   display: none;
}
.system_message {
   display: flex;
   align-items: center;
   text-align: center;
   color: gray;
   font-size: 0.9rem;
   margin: 0.8rem 0;
}
.dark_mode_system_message {
   color: white !important;
}
.system_message::before,
.system_message::after {
   content: "";
   flex: 1;
   border-bottom: 2px solid rgb(93, 163, 255);
}
.dark_mode_system_message::before,
.dark_mode_system_message::after {
   border-bottom: 2px solid rgb(219, 16, 255) !important;
}
.system_message::before {
   margin: 0 0.5em;
}
.system_message::after {
   margin: 0 0.4em;
}
@media (min-width: 501px) {
   .users_tab {
      display: flex;
      flex-direction: column;
      z-index: -1;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      overflow: hidden;
      background-color: #f8f8f8;
      width: 400px;
      min-width: 280px;
      transform: translateX(0) !important;
      transition: 300ms ease-in-out;
   }
}

@media (max-width: 500px) {
   .users_tab {
      display: inline-block;
      z-index: 1;
      position: absolute;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      overflow: hidden;
      background-color: #f8f8f8;
      width: 250px !important;
      min-width: 250px !important;
      height: 100vh;
      transform: translateX(-100%);
      transition: 300ms ease-in-out;
   }
   body {
      display: block;
      position: fixed;
      width: 100%;
      background-color: #edeff2;
   }
   .chat_window {
      display: inline-block;
      height: 100vh;
      border-radius: 10px;
      left: 0;
      top: 0;
      right: 0;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
      background-color: #f8f8f8;
      overflow: hidden;
      position: fixed;
   }
}

.user_tab.dark_mode {
   background-color: #531a95;
}
.users_tab .field {
   padding: 20px 0 15px;
   width: 100%;
   height: 71px;
   background-color: #e0e5ec;
   transition: 200ms ease-in-out;
}
.dark_mode.users_tab .field {
   background-color: #1f253d !important;
}
.down.field {
   height: 88.38px !important;
   padding: 0;
   box-shadow: 0 -1px 30px rgba(0, 0, 0, 0.1);
}
.top.field {
   box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
   align-self: start;
}

.top.field {
   box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
   
}
.top.field .title{
   font-weight: bold;
   color: #bcbdc0;
   align-self: center;
   white-space: nowrap;
   margin: auto;
   text-align: center;
   color: #bcbdc0;
   font-size: 20px;
}

.users_tab .users {
   flex-direction: column;
   padding: 0;
   height: calc(100vh - 153.38px);
   overflow: auto;
   list-style: none;
   position: relative;
   margin: 0;
   direction: rtl;
   background-color: #f5f9ff;
   transition: 200ms ease-in-out;
}
.dark_mode.users_tab .users {
   background-color: #323d62 !important;
}
.users_tab .user {
   display: flex;
   background-color: rgb(228, 221, 235);
   padding: 1rem;
   margin: 0.5rem;
   border-radius: 12px;
   overflow: hidden;
   direction: ltr;
   transition: 200ms ease-in-out;
}
.dark_mode.users_tab .user {
   background-color: #3d4e86;
   color: white !important;
}
.users_tab .users .user:hover {
   box-shadow: -0.4rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}
.avatar_filde {
   margin: auto;
   flex-basis: 20%;
}
.avatar {
   width: 60px;
   height: 60px;
   border-radius: 50%;
   background-color: #fdbf68;
   float: left;
}
.user_info {
   display: flex;
   flex-direction: column;
   margin: auto 0;
   margin-left: 1rem !important;
   flex-basis: 80%;
}
.user_info_head {
   display: flex;
   justify-content: space-between !important;
   margin-bottom: 0.5rem;
}
.user_online_status {
   background-color: #11ab51;
   padding: 0.18rem 0.5rem;
   border-radius: 25px;
   font-size: 0.68rem;
   font-weight: bold;
   color: white;
   margin-left: auto;
   align-self: end !important;
}
.user_online_status.offline {
   background-color: #e64c65;
}
.user_online_status.online {
   background-color: #11ab51;
}

.user_info .user_last_seen {
   margin: 0;
   font-size: .8rem;
}
.user_template {
   display: none;
}
.me.user {
   margin: 0;
   border-radius: 0;
   background-color: transparent !important;
}
.user_tab_shadow{
   box-shadow: 5px 15px 30px 5px rgba(0, 0, 0, 0.3);
}